﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background-image:url(../img/dolar.jpg); margin: 0;">
    <nav class="navbar navbar-inverse navbar-fixed-top ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TransNet", "Index", "Home", new { area = "" }, new { @class = "navbar-brand " })
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-th-list"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">@Html.ActionLink(WebApplication1.Resources.home.Contact, "Contact", "Home")</a></li>

                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <button type="button" id="registerLink" class="btn btn-success" onclick="location.href='@Url.Action("Login", "Account")'">@WebApplication1.Resources.home.Giriş <span class="glyphicon glyphicon-log-in" /></button>
                        </div>
                        <button type="button" id="loginLink" class="btn btn-danger" onclick="location.href='@Url.Action("Register", "Account")'">@WebApplication1.Resources.home.Kaydol <span class="glyphicon glyphicon-floppy-save" /></button>
                        <button type="button" id="loginLink" class="btn btn-info" onclick="location.href='@Url.Action("Change", "Home", new { LanguageAbbrevation="tr"})'">Türkçe </button>
                        <button type="button" id="loginLink" class="btn btn-info" onclick="location.href='@Url.Action("Change", "Home", new { LanguageAbbrevation = "en" })'">İngilizce</button>

                    </form>

                </ul>
            </div>
        </div>
    </nav>
    <hr /><hr />
    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year  Copyright TransNet.com</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>