﻿@{
    ViewBag.Title = "Contact";
}
<h2></h2>
<h3>@ViewBag.Message</h3>
 <div class="row" style="  font-size:20px; color:black; font-stretch:extra-expanded;">
    <div class="col-md-6">
        <p>Sakarya Üniversitesi Bilgisayar müh.</p>
        <p>mail: omerkadirsengul2013@gmail.com</p>
        <p>Tel No : 0539 923 77 06</p>
    </div>
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9553188734894!2d30.330578115855328!3d40.7410086793288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ccadf2977958d7%3A0xc7996fa884f94c03!2sSakarya+%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1481982586541" width="600" height="450" frameborder="0" style="border:0"></iframe>
    </div>
</div>