﻿@{
    ViewBag.Title = "Home Page";
}




<div class="row">
    <div class="col-md-2">
        <script type="text/javascript">
            var system = "siteneekle";
            var para_birimleri = "USD-EUR-GBP-CAD-AUD-DKK-SEK-NOK-JPY-SAR-CHF";
            var arkaplan = "FFFFFF";
            var baslik = "FFFFFF";
            var cerceve = "333333";
            var turbaslik = "999999";
            var kutucuk = "FFFFFF";
            var fiyat = "CC3300";
            var genislik = "165";
            var konum = "left";
            var yatay = "1";
            var slide = "yok";
            var dikey = "0";
            var paylasim = "kapali";
        </script>
        <a id="altin_doviz_kuru_ekle" href="http://www.altin.net.tr/">altın fiyatları</a>
        <script type="text/javascript" charset="UTF-8" src="http://www.altin.net.tr/js/doviz2.js"></script>
    </div>
    <div class="col-md-2">
    <script type="text/javascript">
        var para_birimleri = "USD-EUR";
        var arka_plan = "FFFFFF";
        var cerceve = "333333";
        var kutucuk = "FFFFFF";
        var piyasa_baslik = "FFFFFF";
        var tur_baslik = "999999";
        var fiyat_baslik = "CC3300";
        var kutu_kose = "oval";
        var genislik = "120";
        var bankalar = "acik";
        var paylasim = "kapali";
    </script><div style="width:120px;font-size:12px;text-align:right;"><a name="piyasadoviz" target="_blank" href="http://kur.piyasadoviz.com/banka">döviz</a></div>
<script type="text/javascript" charset="iso-8859-9" src="http://eklenti.piyasadoviz.com/doviz.js"></script>
</div>
    <div class="col-md-8">
        <div id="hn-doviz-widget"></div>
        <script src="https://e.hesaplama.net/doviz.do?bgcolor=FFFFFF&tcolor=000000&tsize=n&tfamily=n&btype=s&bsize=1px&bcolor=EEEEEE" type="text/javascript"></script>
    </div>

</div>

